<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="header row between-xs">
      <nav>
        <a mat-button routerLink="/home" routerLinkActive="header__link--active">home</a>
        <a mat-button routerLink="/products" routerLinkActive="header__link--active">products</a>
        <a mat-button routerLink="/contact" routerLinkActive="header__link--active">contact</a>
      </nav>
      <a mat-raised-button [matBadge]="totalProducts$ | async" matBadgeColor="warn">
        <mat-icon>shopping_cart</mat-icon>
        Carrito
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
